<header
  class="bg-gray-800 text-white border-b border-gray-700 shadow-md py-6 mb-4"
>
  <div class="container mx-auto px-8">
    <h1
      class="font-[Lobster] text-white text-4xl md:text-5xl font-bold font-fancy tracking-wide"
    >
      Awesome notes
    </h1>
    <p class="text-gray-100 text-sm mt-2">
      test assignment for
      <a
        target="_blank"
        href="https://testomat.io/"
        class="font-bold hover:text-gray-300"
      >Testomat.io </a>
    </p>
  </div>
</header>

<div class="container mx-auto px-8 pb-20">
  {{outlet}}
</div>